@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 240 8% 20%;
    --primary-foreground: 0 0% 98%;

    --background: 240 30% 97.5%;
    --background-card: 240 10% 99%;
    --background-input: 240 0% 99%;
    --background-muted: 240 4.8% 95.2%;
    --background-popover: 240 10% 99%;

    --foreground: 240 8% 5%;
    --foreground-muted: 240 8% 45%;

    --scrollbar: 240 10% 82%;
    --border: 240 8% 93%;
    --ring: 240 10% 3.9%;

    --radius: 6px;
  }
  .dark {
    --primary: 0 0% 94%;
    --primary-foreground: 0 0% 8%;

    --background: 240, 8%, 7%;
    --background-card: 240, 8%, 10%;
    --background-input: 240, 10%, 10%;
    --background-muted: 240, 8%, 13.5%;
    --background-popover: 240, 8%, 8%;

    --foreground: 240 4% 98%;
    --foreground-muted: 240 4% 55%;

    --scrollbar: 240, 8%, 23%;
    --border: 240 4% 14%;
    --ring: 240 10% 97.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-scrollbar h-full;
  }

  body {
    @apply h-full overflow-y-scroll bg-background text-foreground;
  }
}
